@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Prompt;
	font-weight: 400;
	src: url(/fonts/Prompt-Regular.ttf) format('truetype');
}
@font-face {
	font-family: Prompt;
	font-weight: 500;
	src: url(/fonts/Prompt-Medium.ttf) format('truetype');
}
@font-face {
	font-family: Prompt;
	font-weight: 600;
	src: url(/fonts/Prompt-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: Prompt;
	font-weight: 700;
	src: url(/fonts/Prompt-Bold.ttf) format('truetype');
}
